@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* :root{
    --grad-0: #FC6A6A;
    --grad-1: #E47882;
    --grad-2: #CB869B;
    --grad-3: #B394B3;
    --grad-4: #9BA1CB;
    --grad-5: #82AFE4;
    --grad-6: #6ABDFC;
} */

:root{
    --grad-0: #3282B8;
    --grad-1: #2C79AD;
    --grad-2: #2670A2;
    --grad-3: #216797;
    --grad-4: #1B5E8B;
    --grad-5: #155580;
    --grad-6: #0F4C75;
}

.calData-container{
    height: 1fr;
    background: lightcyan;
    font-family: 'Shadows Into Light', cursive;

    padding: 5px;

    display: flex;
}

.calData-date{
    flex: 1;
    font-size: 30px;
    font-weight: 500;
    color: snow;
}

.calData-options{
    display: flex;
    flex-direction: column;
}

.calData-options img{
    margin: 5px 2px;
    width: 15px;
    object-fit: contain;
    filter: invert(100%);
    cursor: pointer;
}

.day-0{
    background: var(--grad-0);
}
.day-1{
    background: var(--grad-1);
}
.day-2{
    background: var(--grad-2);
}
.day-3{
    background: var(--grad-3);
}
.day-4{
    background: var(--grad-4);
}
.day-5{
    background: var(--grad-5);
}
.day-6{
    background: var(--grad-6);
}

.week-1{
    filter: brightness(100%);
}
.week-2{
    filter: brightness(90%);
}
.week-3{
    filter: brightness(80%);
}
.week-4{
    filter: brightness(70%);
}
.week-5{
    filter: brightness(60%);
}
