#monthAccordion{
    position: relative;

    display: flex;
    align-content: center;
    height: fit-content;
    margin: 0 10px;

}

.monthAcc-data{
    line-height: 25px;
    margin: 0 10px;
    width:150px;
    text-align: center;
    
    font-size: 25px;
}

#monthAccordion button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #1b262c;
    color: #bbe1fa;
    font-weight: 600;
    cursor: pointer;
}

#monthAccordion button:focus{
    outline: none;
}