@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.timezone-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: slategray;
}

.timezone-time{
    font-size: 300%;
    font-weight: 700;
    margin: 10px;
}

.timezone-currTimezone{
    margin:5px;

}

.timezone-dropTimezone{
    margin-top: 30px;
    font-size: 120%;
    padding-bottom:10px;
    background: transparent;
    border: none;
    border-bottom: 1px slategray solid;
    color: slategray;
}

.timezone-dropTimezone:focus{
    outline: none;
}