nav{
	width: fit-content;
	margin: 0;
	padding: 40px 10px;
	border-radius: 0 50px 50px 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	top: 50%;
	transform: translate(-90%,-50%);
	background: honeydew;

	box-shadow: 5px 5px 10px rgba(100,100,100,.5);	
	transition: all .3s ease;
}

nav:hover{
	transform: translate(0, -50%);
}

.nav-menuTitle{
	position: absolute;
	top: 50%;
	transform: rotate(90deg) translateY(0px);
	opacity: 1;
	color: white;
	font-size: 150%;
	transition: all .3s ease;
}

nav:hover + .nav-menuTitle{
	opacity: 0;
	transform: rotate(90deg) translateY(-70px);
}

.nav-sepLine{
	height: 1px;
	background: darkgray;
	width: 90%;
	margin: 10px 0;
}

.nav-link{
	margin: 10px 5px;
	width: 50px;
	/* background: coral; */
}

.nav-link img{
	width: 100%;
	box-shadow: 3px 3px 5px rgba(100,100,100,.7);
	transform: translateY(0);
	transition: all .5s ease;
}


.nav-link:hover img{
	box-shadow: 7px 7px 15px rgba(100,100,100,.5);
	transform: translateY(-5px);
}

.nav-brand img, .nav-profile img, .nav-social-github img{
	border-radius: 50%;
	background-color: white;
}

.nav-social-whatsapp img{
	border-radius: 50% 50% 50% 0;
	background-color: transparent;
}

.nav-social-facebook img, .nav-social-insta img{
	border-radius: 15px;
}
