.App{
    background: #1b262c;
    width: 100vw;
    height: 100vh;
    
    font-family: Tahoma;    
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.bwcBanner{
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 0;
    width: 40vw;
}